.search_input .text,
.cancel_btn,
#form_main #username,
#form_main #password,
#form_main #email,
#form_main #nick,
#form_main #re_password,
#form_main #cap_solution,
.forward_link,
#general .like_btn,
.dual_tab .sort_new,
.dual_tab .sort_hot,
#msg_area,
.board_submit { -webkit-border-radius: 0 }

.my_header{width:350px;height:200px;background-size:350px 200px;}
.my_face{bottom:12px;left:12px;width:58px;height:58px;background-size:58px 58px;}
.my_face_btn{width:58px;height:58px;background-size:16px 16px;}
.my_data{margin-left:6px;margin-top:6px;}
.my_data h1{height:30px;line-height:30px;margin-top:18px;}
.my_data span{height:20px;line-height:20px;}
.my_data_01{width:83px;height:83px;}
.my_data_02{width:83px;height:83px;}
.my_data_03{width:83px;height:83px;}
.my_data_04{width:83px;height:83px;background-size:37px 24px; background-position:center 18px;}
.my_data_05{width:172px;height:83px;background-size:63px 54px; background-position:103px 13px;}
.my_data_05 h1,.my_data_05 span{width:120px;}
.my_data_06{width:172px;height:83px;background-size:63px 54px; background-position:103px 13px;}
.my_data_06 h1,.my_data_06 span{width:120px;}
.my_data_07{width:172px;height:83px;background-size:63px 54px; background-position:103px 13px;}
.my_data_07 h1,.my_data_07 span{width:120px;}
.my_data_08{width:172px;height:83px;background-size:38px 31px; background-position:center 13px;}
.my_data_09{width:172px;height:83px;background-size:38px 31px; background-position:center 13px;}
.my_data_10{width:172px;height:83px;background-size:38px 31px; background-position:center 13px;}
.my_data_sign{width:172px;height:83px;background-size:63px 54px; background-position:103px 13px;}
.my_data_signed{width:172px;height:83px;background-size:63px 54px; background-position:103px 13px;}
.my_data_sign h1,.my_data_sign span,.my_data_signed h1,.my_data_signed span{width:120px;}

.ad_list_li{width:348px;height:152px;background-size:348px 128px;}
.cost_list_ul li{width:348px;}

.setting_list_li,.setting_list_checkbox{width:348px;background-position:322px center;}
.setting_logoutbtn{width:348px;}

.addetail_content,.addetail_biz,.addetail_info{width:348px;}
.addetail_content img{width:348px;height:348px;}

