/* common */
body,ul,li,dl,dt,dd,div,h1,h2,h3,h4,h5,h6 {padding:0; margin:0; border:0; -webkit-tap-highlight-color:rgba(0,0,0,0); }
body {font-size:12px; -webkit-user-select:none; -webkit-text-size-adjust:none; font-family:Tahoma, Helvetica, Arial, \5fae\8f6f\96c5\9ed1, \9ed1\4f53; overflow:hidden}
a{text-decoration:none;}
li{list-style:none;}
img,a img{border:0}
input{box-sizing:border-box; outline:none;}
.link {cursor:pointer}

#content { position:absolute; z-index:1; top:0; bottom:0; left:0; width:100%; overflow:hidden; background:#f5f5f5; }
#content *{-webkit-backface-visibility: hidden;}
.frame { position:absolute; z-index:1; top:0; width:100%; bottom:0; overflow:hidden; background-color:#eee; transition: left 0.2s ease,top 0.2s ease;-webkit-transition: left 0.2s ease,top 0.2s ease;-moz-transition: left 0.2s ease,top 0.2s ease;}

.loading {display:block; position:absolute; left:50%; top:50%; width:60px; height:40px; margin-left:-25px; margin-top:-20px; padding-top:10px; padding-bottom:10px; background:rgba(0,0,0,0.7); border-radius:4px; text-align:center; z-index:99}
.loading img {display:inline-block;margin:0px auto;width:20px;height:20px;}
.loading strong{display:inline-block;margin:0px auto;width:60px;height:20px;line-height:26px;font-size:12px;font-weight:normal;color:#fff;}

.tipslayout{display:block;position:absolute;left:0;bottom:60px;width:100%;height:auto;text-align:center;z-index:98;transition: opacity .4s linear; -webkit-transition: opacity .4s linear; -moz-transition: opacity .4s linear;}
.tipslayout span{display:inline-block;position:relative;margin:0 auto;font-size:12px;line-height:18px;padding-top:4px;padding-bottom:4px;padding-left:10px;padding-right:10px;background:#000;color:#fff;max-width: 90%;}

.menulayout{width:80%; z-index:99; top:50%; left:10%; position:absolute; display:none; transition: opacity .2s linear; -webkit-transition: opacity .2s linear; -moz-transition: opacity .2s linear;}
.menulayout span{display:inline-block; width:100%; height: 50px; border-top:1px solid #000; line-height:50px; text-align:center; color:#fff; font-size:14px; background:rgba(0,0,0,0.8);cursor:pointer;}

.bmenulayout{width:100%; z-index:99; left:0; bottom:-51px; position:absolute; transition: bottom .1s linear; -webkit-transition: bottom .1s linear; -moz-transition: bottom .1s linear;}
.bmenulayout span{display:inline-block; width:100%; height: 50px; border-top:1px solid #000; line-height:50px; text-align:center; color:#fff; font-size:14px; background:rgba(0,0,0,0.8);cursor:pointer;}

/* not in framework */
#footer { overflow:hidden; position:absolute; z-index:1; bottom:0; width:100%; height:50px; background:#eee; padding:0; display:none }
#footer_nav { position:absolute; width:100%; height:50px; left:0}
.footer_nav_back {width:100%; background-image:url(../images/320/o_tab_bg.png); background-size:1px 50px; background-repeat:repeat-x; z-index:3; position:absolute; height:50px; bottom:0}

.nav_n1 { background:url(../images/320/o_tab_01.png) center 0 no-repeat; background-size:72px 50px}
.nav_n2 { background:url(../images/320/o_tab_02.png) center 0 no-repeat; background-size:72px 50px}
.nav_n3 { background:url(../images/320/o_tab_03.png) center 0 no-repeat; background-size:72px 50px}
.nav_n4 { background:url(../images/320/o_tab_04.png) center 0 no-repeat; background-size:72px 50px}
.nav_n5 { background:url(../images/320/o_tab_05.png) center 0 no-repeat; background-size:72px 50px}

.nav_n1_now { background:url(../images/320/o_tab_01_on.png) center 0 no-repeat; color:#ff6000 !important; background-size:72px 50px }
.nav_n2_now { background:url(../images/320/o_tab_02_on.png) center 0 no-repeat; color:#ff6000 !important; background-size:72px 50px }
.nav_n3_now { background:url(../images/320/o_tab_03_on.png) center 0 no-repeat; color:#ff6000 !important; background-size:72px 50px }
.nav_n4_now { background:url(../images/320/o_tab_04_on.png) center 0 no-repeat; color:#ff6000 !important; background-size:72px 50px }
.nav_n5_now { background:url(../images/320/o_tab_05_on.png) center 0 no-repeat; color:#ff6000 !important; background-size:72px 50px }

.nav_n1, .nav_n1_now, .nav_n1_act { font-size:11px; padding-top:32px; color:#999; text-align:center; position:absolute; left: 0px; top: 0; bottom:0; width:20%;}
.nav_n2, .nav_n2_now, .nav_n2_act { font-size:11px; padding-top:32px; color:#999; text-align:center; position:absolute; left: 20%; top: 0; bottom:0; width:20%;}
.nav_n3, .nav_n3_now, .nav_n3_act { font-size:11px; padding-top:32px; color:#999; text-align:center; position:absolute; left: 40%; top: 0; bottom:0; width:20%;}
.nav_n4, .nav_n4_now, .nav_n4_act { font-size:11px; padding-top:32px; color:#999; text-align:center; position:absolute; left: 60%; top: 0; bottom:0; width:20%;}
.nav_n5, .nav_n5_now, .nav_n5_act { font-size:11px; padding-top:32px; color:#999; text-align:center; position:absolute; left: 80%; top: 0; bottom:0; width:20%;}

#header { width:100%; height:50px; line-height:50px; background:url(../images/320/o_headbg.png) repeat-x; background-size:1px 50px; padding:0; text-align:left;}
#header .nobackbtn{float:left;display:inline-block;width:58px;height:50px;background-image:url(../images/320/o_headlogo2.png);background-repeat:no-repeat;background-size:58px 45px;background-position:center center;}
#header .backbtn{float:left;display:inline-block;width:64px;height:50px;background-image:url(../images/320/o_headlogo.png);background-repeat:no-repeat;background-size:58px 45px;background-position:center center;}
#header .title {float:left;display:inline-block;width:200px;margin-left:10px; height:50px; line-height: 56px; text-align:left;color:#fff; font-size:22px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
#header .headerbtn{position:absolute;width:150px;height:50px;right:0;text-align:right;}
#header .headerbtn .sharebtn{display:inline-block;width:50px;height:50px;background-repeat:no-repeat;background-size:auto 50px;background-position:center center;background-image:url(../images/320/o_headshare.png)}

#mainbodycontainer{position:absolute; z-index:1; top:0; bottom:0; left:0; width:100%; overflow:hidden; float:left;}
#mainbody{position:absolute; z-index:1; top:0; width:100%;}
#mbodycontainer{position:absolute; z-index:1; top:50px; bottom:0; left:0; width:100%; overflow:hidden; float:left;}
#mbody{position:absolute; z-index:1; top:0; width:100%;}

.demo_ul{width:98%;padding-bottom:10px;padding-left:1%;}
.demo_ul li{width:100%;height:80px;overflow:hidden;margin-top:8px;box-shadow:0px 0px 5px #ccc;border:none;background:#fff;font-size:20px;line-height:80px;text-align:center;}

.scroll_pulldown{position:absolute;top:-50px;left:0;width:100%;height:50px;font-size:16px;color:#999;line-height:50px;text-align:center;}
.scroll_pulldown_icon{position:absolute;top:-50px;right:50%;margin-right:40px;width:50px;height:50px;background-image:url(../images/main/pullicon.png);background-size:auto 24px;background-repeat:no-repeat;background-position:center;transform:rotate(0deg) translateZ(0);-webkit-transform:rotate(0deg) translateZ(0);-moz-transform:rotate(0deg) translateZ(0);transition:-webkit-transform 0.2s;-webkit-transition:-webkit-transform 0.2s;-moz-transition:-webkit-transform 0.2s;}
.scroll_pullup{position:absolute;bottom:-50px;left:0;width:100%;height:50px;font-size:16px;color:#999;line-height:50px;text-align:center;}
.scroll_pullup_icon{position:absolute;bottom:-50px;right:50%;margin-right:40px;width:50px;height:50px;background-image:url(../images/main/pullicon.png);background-size:auto 24px;background-repeat:no-repeat;background-position:center;transform:rotate(-180deg) translateZ(0);-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);transition:-webkit-transform 0.2s;-webkit-transition:-webkit-transform 0.2s;-moz-transition:-webkit-transform 0.2s;}
.scroll_pulldown_flip{transform:rotate(-180deg) translateZ(0);-webkit-transform:rotate(-180deg) translateZ(0);-moz-transform:rotate(-180deg) translateZ(0);}
.scroll_pullup_flip{transform:rotate(-180deg) translateZ(0);-webkit-transform:rotate(0deg) translateZ(0);-moz-transform:rotate(0deg) translateZ(0);}